.about-us-list {
  grid-area: about-us-list;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-list--footer {
  flex-shrink: 0;
  display: block;
  margin-right: 36px;
}

.about-us-list__item--footer {
  padding-top: 7px;
  padding-bottom: 15px;

  &:last-child {
    padding-bottom: 0;
  }
}

.about-us-list__link {
  font-family: $font-pop;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.about-us-list__link--footer {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 20.8px;
  color: #ffffff;
  transition: 0.5s;

  &:hover {
    color: $color-brown;
  }
}

@media (max-width: $tablet-width) {
  .about-us-list {
    grid-column: 1/span 4;
    grid-row: 4;
    display: block;
    margin-left: -10px;
    margin-bottom: 25px;
  }

  .about-us-list--hidden {
    display: none;
  }

  .about-us-list--footer {
    margin-right: 66px;
  }

  .about-us-list__item--footer {
    padding-top: 0;
    padding-bottom: 13px;
  }

  .about-us-list__link {
    display: block;
    max-width: 100%;
    padding: 10px;
    transition: 0.5s;

    &:hover {
      color: $color-black;
    }
  }

  .about-us-list__link--footer {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20.8px;
    color: #ffffff;

    &:hover {
      color: $color-brown;
    }
  }
}

@media (max-width: $mobile-width) {
  .about-us-list--footer {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
