.about-us-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-list__link {
  font-family: $font-pop;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

@media (max-width: $tablet-width) {
  .about-us-list {
    grid-area: about-us-list;
    grid-column: 1/span 4;
    grid-row: 4;
    display: block;
    margin-left: -10px;
    margin-bottom: 25px;
  }

  .about-us-list--hidden {
    display: none;
  }

  .about-us-list__link {
    display: block;
    max-width: 100%;
    padding: 10px;
    transition: 0.5s;

    &:hover {
      color: $color-black;
    }
  }
}

@media (max-width: $mobile-width) {
  .about-us-list {
    margin-bottom: 14px;
  }
}
