.filter-controls {
  position: relative;
  margin-top: 8px;
}

.filter-controls__scale {
  position: relative;
  height: 1px;
  background-color: $color-ligth-grey;
}

.filter-controls__bar {
  position: absolute;
  left: 50px;
  width: 54%;
  height: 1px;
  background-color: $color-brown;
}

.filter-controls__toggle {
  position: absolute;
  top: -7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-brown;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1);
  }
}

.filter-controls__toggle-min {
  left: 37px;
}

.filter-controls__toggle-max {
  right: 27px;
}


@media (max-width: $tablet-width) {
  .filter-controls__toggle {
    width: 18px;
    height: 18px;
  }

  .filter-controls__bar {
    left: 50px;
    width: 50%;
  }

  .filter-controls__toggle-min {
    left: 47px;
  }

  .filter-controls__toggle-max {
    right: 119px;
  }
}

@media (max-width: $mobile-width) {
  .filter-controls {
    margin-top: 17px;
  }

  .filter-controls__toggle {
    width: 18px;
    height: 18px;
  }

  .filter-controls__scale {
    left: 0;
    width: 100%;
  }

  .filter-controls__bar {
    left: 42px;
    width: 60%;
  }

  .filter-controls__toggle-min {
    left: 40px;
  }

  .filter-controls__toggle-max {
    right: 54px;
  }
}
