.filter {
  margin-right: 50px;
}

.filter--hidden {
  display: none;
}

.filter__form {
  width: 250px;
}

.filter__wrapper {
  margin-bottom: 35px;
  border: 1px solid $color-brown;
}

.filter__type {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid $color-brown;

  &:last-child {
    border: none;
  }
}

.filter__legend svg {
  position: absolute;
  top: 30px;
  right: 24px;
  fill: transparent;
  stroke: $color-brown;
  transform: rotate(180deg);
}

.filter__legend--active svg {
  transform: rotate(0deg);
}

.filter__fields {
  display: none;
  margin-top: -3px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}

.filter__fields--price {
  padding-bottom: 17px;
}

.filter__field {
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__legend--active + .filter__fields {
  display: block;
}

.filter__field input {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter__field input:focus + label {
  &::after {
    outline: 0;
    box-shadow: 0 0 0 2px $color-black;
    border-radius: 2px;
  }
}

.filter__legend {
  width: 100%;
  padding: 23px;
  padding-left: 25px;
  font-family: $font-pop;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  cursor: pointer;
}

.filter__field label {
  position: relative;
  max-width: 100%;
  display: block;
  padding: 4px;
  padding-left: 27px;
  font-family: $font-pop;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 1px;
    width: 14px;
    height: 13px;
    border: 1px solid $color-brown;
  }
}

.filter__field input:checked + label {
  &::after {
    background-color: $color-brown;
  }
}

@media (max-width: $tablet-width) {
  .filter__form {
    width: 423px;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }
}
