.filter-range {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}

.filter-range__label {
  width: 25%;
}

.filter-range__money {
  font-family: $font-pop;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  color: $color-black;
}

.filter-range__input {
  width: 50%;
  font-family: $font-pop;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  color: $color-black;
  border: none;
}

.filter-range__label--min {
  margin-left: 27px;
}

.filter-range__label--max {
  margin-right: 9px;
}


@media (max-width: $tablet-width) {
  .filter-range {
    margin-top: 18px;
  }

  .filter-range__money {
    font-size: 16px;
    line-height: 20.8px;
  }

  .filter-range__input {
    font-size: 16px;
    line-height: 20.8px;
  }

  .filter-range__label--min {
    margin-left: 36px;
  }

  .filter-range__label--max {
    margin-right: 60px;
  }
}

@media (max-width: $mobile-width) {
  .filter-range__label--min {
    margin-left: 30px;
}

  .filter-range__label--max {
    margin-right: 24px;
  }
}
