.footer {
  margin-top: auto;
  background-color: $color-black;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 76px;
}

.footer__group-block {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer__wrapper--padding {
  padding-bottom: 51px;
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    padding-top: 50px;
    padding-bottom: 24px;
    flex-direction: column;
  }

  .footer__group-block {
    justify-content: flex-start;
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    padding-bottom: 37px;
  }

  .footer__group-block {
    flex-direction: column;
  }
}
