.logo {
  grid-area: logo;
  grid-column: 6/span 2;
  text-align: center;
  transform: translateY(13px);
}

.logo__icon {
  fill: $color-brown;
}

@media (max-width: $tablet-width) {
  .logo {
    grid-column: 2/span 2;
    transform: translateY(2px);
  }

  .logo__icon {
    fill: #ffffff;
  }

  .logo__icon--color {
    fill: $color-brown;
  }
}

@media (max-width: $mobile-width) {
  .logo__icon {
    width: 55px;
    height: 55px;
  }
}
