.pagination-list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: -8px;
  padding: 0;
  list-style: none;
}

.pagination-list__page {
  background-color: transparent;
  font-family: $font-pop;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  color: $color-grey;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    font-size: 18px;
    transform: translateY(-2px);
  }

  &:active {
    font-size: 16px;
    opacity: 0.6;
  }
}

.pagination-list__page--active {
  color: $color-black;
}

@media (max-width: $tablet-width) {
  .pagination-list {
    margin-top: -17px;
  }
}

@media (max-width: $mobile-width) {
  .pagination-list {
    margin-top: -27px;
    padding-left: 6px;
  }

  .pagination-list__page {
    margin-right: 7px;
    padding: 0 8px;
  }
}
