.products {
  max-width: 870px;
}

.products__wrapper {
  margin-bottom: 74px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style: none;
}

.products__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 36px;
  text-align: center;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.products__link {
  text-decoration: none;
}

.products__image {
  margin-bottom: 18px;
}

.products__link h3 {
  margin: 0;
  margin-bottom: 6px;
  font-family: $font-pop;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  color: $color-black;

  &:hover {
    color: $color-brown;
  }

  &:active {
    opacity: 0.6;
  }
}

.products__link span {
  font-family: $font-pop;
  font-weight: 700;
  font-size: 14px;
  line-height: 18.2px;
  color: $color-black;
}

.products__buttons {
  position: relative;
}

.products__button {
  position: absolute;
  top: -12px;
  padding: 5px 10px;
  font-family: $font-pop;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: $color-brown;
    transform: scale(1.1);
  }

  &:focus {
    color: $color-brown;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
    opacity: 0.6;
  }
}

.products__button--prev {
  left: -9px;
}

.products__button--next {
  right: -10px;
}

@media (max-width: $tablet-width) {
  .products__list {
    margin-bottom: 53px;
  }

  .products__button {
    top: -21px;
  }
}


@media (max-width: $mobile-width) {
  .products__wrapper {
    margin-bottom: 66px;
  }

  .products__list {
    margin-bottom: 43px;
  }

  .products__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 26px;

    &:nth-child(3n) {
      margin-right: 30px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .products__image {
    margin-bottom: 14px;
  }

  .products__button {
    display: none;
  }
}
