.socials-list {
  margin: 0;
  margin-right: -10px;
  padding: 0;
  list-style: none;
}

.socials-list__item {
  display: flex;
  margin-bottom: 13px;
}

.socials-list__link {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-family: $font-pop;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;

  &:hover,
  &:focus {
    color: $color-brown;
  }

  &:active {
    opacity: 0.6;
  }
}

.socials-list__icon {
  width: 15px;
  height: 15px;
  margin-right: 16px;
  transition: 0.5s;
  fill: #ffffff;
}

.socials-list__link:hover .socials-list__icon {
  fill: $color-brown;
}

.socials-list__link:focus .socials-list__icon {
  fill: $color-brown;
}


@media (max-width: $mobile-width) {
  .socials-list {
    display: flex;
    margin-left: -9px;
    margin-right: 0;
  }

  .socials-list__item {
    margin-right: 18px;
  }

  .socials-list__link {
    padding: 5px;
  }

  .socials-list__icon {
    width: 20px;
    height: 21px;
    margin-right: 0;
  }

  .socials-list__social-name {
    display: none;
  }
}
