.toggle {
  display: none;
  border: none;
  background-color: transparent;
}

@media (max-width: $tablet-width) {
  .toggle {
    grid-area: toggle;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 45px;
    height: 25px;
    margin-left: -10px;
    stroke: #ffffff;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
