$mobile-width: 767px;
$tablet-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-pop: "Poppins", "Arial", sans-serif;
$font-cor: "Cormorant Garamond", "Times New Roman", serif;

$color-grey: #9b9997;
$color-black: #1d1613;
$line: #f6f5f4;
$color-brown: #a87b62;
